@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,400;1,700&display=swap');
* {
  box-sizing: border-box;
}
body{
  font-family: 'Roboto',sans-serif;
  margin: 0;
  background-color: #08d9d6;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: #252a34;
  overflow-x: hidden;
}
 h1{
   margin: 10px;
 }
.box{
  background-color: #252a34;
  color: #ff2e63;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px #eaeaea;
  transform: translateX(1000px);
  transition: transform 0.5s ease;
}
.box:nth-of-type(even){
  transform: translateX(-1000px);
}
.box.show{
  transform: translateX(0);
}
.box h2{
  font-size: 40px;
}
